
<% self.params.each do |param| %>
  <%= param %>
<% end %>
<br>
<div class="image_feed">
</div>

<div class="publish">
  <%= form_for(@image, remote: true) do |f| %>
  <% if @image.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@image.errors.count, "error") %> prohibited this image from being saved:</h2>
      <ul>
      <% @image.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :photo %>
    <%= f.file_field :photo %>
  </div>    
  <div class="field">
    <%= f.label :tag_1 %><br>
    <%= f.text_field :tag_1 %>
  </div>
  <div class="field">
    <%= f.label :tag_2 %><br>
    <%= f.text_field :tag_2 %>
  </div>
  <div class="field">
    <%= f.label :tag_3 %><br>
    <%= f.text_field :tag_3 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
</div>

<div class="control">
  <p class="button round">Publish</p>
</div>
  <% end %>
<br>

<%= link_to 'New Image', new_image_path %>

