<p id="notice"><%= notice %></p>

<p>
  <strong>Address:</strong>
  <%= @image.address %>
</p>

<p>
  <strong>Photo:</strong>
  <%= @image.photo %>
</p>

<p>
  <strong>Tag 1:</strong>
  <%= @image.tag_1 %>
</p>

<p>
  <strong>Tag 2:</strong>
  <%= @image.tag_2 %>
</p>

<p>
  <strong>Tag 3:</strong>
  <%= @image.tag_3 %>
</p>

<%= link_to 'Edit', edit_image_path(@image) %> |
<%= link_to 'Back', images_path %>
