<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "StrangerDanger" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <header> 
    </header>

    <%= yield %>

    <div class="publish">
      <%= form_for(@image, :html => { :multipart => true }, :remote => true) do |f| %>
      <% if @image.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@image.errors.count, "error") %> prohibited this image from being saved:</h2>
        <ul>
          <% @image.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
      <% end %>
      <div id="lat" class="field">
        <%= f.text_field :latitude %>
      </div>
      <div id="lng" class="field">
        <%= f.text_field :longitude %>
      </div>
      <!-- <div class="field"> 
        <= f.label :address %><br>
        <= f.text_field :address %>
      </div> -->
      <!-- <div class="field">
        <= f.label :tag_1 %><br>
        <= f.text_field :tag_1 %>
      </div>
      <div class="field">
        <= f.label :tag_2 %><br>
        <= f.text_field :tag_2 %>
      </div>
      <div class="field">
        <= f.label :tag_3 %><br>
        <= f.text_field :tag_3 %>
      </div> -->

    <footer>
      <div id="photo" class="field">
        <%= f.file_field :photo %>
      </div>  
      <div id="tag" class="actions">
        <%= f.submit %>
      </div>
    </footer>
    </div>
    <% end %>
    <%= javascript_include_tag "application" %>
  </body>
</html>